{% extends 'base.html' %}

{% block title %}Airlines{% endblock %}

{% block content %}
<h2>Airlines</h2>
    <button><a href="{% url 'flight:airlines_create' %}">Add New Airline</a></button>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Country</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
        {% for airline in airlines %}
        <tr>
            <td>{{ airline.name }}</td>
            <td>{{ airline.code }}</td>
            <td>{{ airline.country }}</td>
            <td>{{ airline.description }}</td>
            <td>{{ airline.created_at }}</td>
            <td>{{ airline.updated_at }}</td>
            <td>
                <button><a href="{% url 'flight:airlines_edit' airline.pk %}">Edit</a></button>
                <button><a href="{% url 'flight:airlines_delete' airline.pk %}">Delete</a></button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'home' %}">Home</a>
{% endblock %}
