{% extends 'base.html' %}

{% block title %}Airports{% endblock %}

{% block content %}
<h2>Airports</h2>
    <button><a href="{% url 'flight:airports_create' %}">Add New Airport</a></button>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>City</th>
            <th>Country</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
        {% for airport in airports %}
        <tr>
            <td>{{ airport.name }}</td>
            <td>{{ airport.code }}</td>
            <td>{{ airport.city }}</td>
            <td>{{ airport.country }}</td>
            <td>{{ airport.created_at }}</td>
            <td>{{ airport.updated_at }}</td>
            <td>
                <button><a href="{% url 'flight:airports_edit' airport.pk %}">Edit</a></button>
                <button><a href="{% url 'flight:airports_delete' airport.pk %}">Delete</a></button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'home' %}">Home</a>
{% endblock %}